.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  width: 520px;
  height: 240px;
  box-sizing: border-box;
  align-self: center;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contains {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  text-align: center;

  max-width: 516px;
  margin: 0 auto 60px auto;
}

.title {
  display: flex;
  padding-top: 53px;
  padding-bottom: 13px;
  width: 100%;
  align-self: center;
}