.title {
  padding-top: 8px;
  padding-bottom: 8px;
}

.imgContainer {
  text-align: center;
}

.meatTable {
  margin: 0 auto;
  text-align: center;
  border-collapse: separate;
  border-spacing: 20px 8px;
}

.meatCell {
  width: 120px;
}